# Ignore environment variables
.env

# Ignore dependencies
node_modules/
package-lock.json

# Ignore logs
logs.txt
logs/
*.log

# Ignore database files
database.sqlite

# Ignore build artifacts
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db
